<div class="container-fluid bg-white shadow-sm border">
  <div class="row py-1">
    <div class="col-3 d-flex justify-content-around align-items-center">
      <img src="./assets/images/wayste-text.webp" height="60" />
      <span icon='bars fa-2x text-dark'></span>
    </div>
    <div class="col-6 d-flex align-items-center">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" icon='search'></span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      </div>
    </div>
    <div class="col-3 d-flex justify-content-between align-items-center">
      <span icon='qrcode fa-2x'></span>
      <span class="font-weight-bold">EN</span>
      <span icon='bell fa-2x' [isRegular]="true"></span>
      <span icon='comment fa-2x' [isRegular]="true"></span>
      <span icon='user-ninja fa-2x'></span>
    </div>
  </div>
</div>