{% extends 'base.html' %}
{% block content %}
<style>

    #right-panel select {
        width: 100%;
    }

    #map {
        height: 500px;
        width: 100%;
    }
</style>
<div class="d-flex row h-100 justify-content-center align-items-center">
    <div class="card">
        <article class="card-body" style="width: 400px;">
            <h4 class="card-title mb-4 mt-1">Eco-Aide in Transit</h4>
            <div id="map"></div>
            <div id="right-panel">
                <div id="inputs">
                </div>
                <div>
                    <h4>Directions</h4>
                </div>
                <div id="output"></div>
                <div id="dirPan"></div>
            </div>
            <!-- Replace the value of the key parameter with your own API key. -->
        </article>
    </div>
</div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAENJRfzlzMAdoi1Gz92Kxr8OFf_M_LXgY&callback=initMap">
    </script>
<script>
    var directionsService;
    var directionsDisplay;
    function initMap() {
        var bounds = new google.maps.LatLngBounds;
        var markersArray = [];
        var destinationIcon = 'https://chart.googleapis.com/chart?' +
            'chst=d_map_pin_letter&chld=D|FF0000|000000';
        var originIcon = 'https://chart.googleapis.com/chart?' +
            'chst=d_map_pin_letter&chld=O|FFFF00|000000';
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 55.53, lng: 9.4 },
            zoom: 10
        });
        var geocoder = new google.maps.Geocoder;
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer;

        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('dirPan'));

        const urlParams = new URLSearchParams(window.location.search);
        const originLongitude = urlParams.get('originLongitude');
        const originLatitude = urlParams.get('originLatitude');
        const destLatitude = urlParams.get('destLatitude');
        const destLongitude = urlParams.get('destLongitude');
        
        var origin = new google.maps.LatLng(-27.5970141, -48.5614466);
        var destination = new google.maps.LatLng(-27.5927353, -48.5556316);

        calculateAndDisplayRoute(origin, destination);
        var service = new google.maps.DistanceMatrixService();
        service.getDistanceMatrix({
            origins: [origin],
            destinations: [destination],
            travelMode: google.maps.TravelMode.DRIVING,
            unitSystem: google.maps.UnitSystem.METRIC
        }, function (response, status) {
            if (status !== 'OK') {
                alert('Error was: ' + status);
            } else {
                var originList = response.originAddresses;
                var destinationList = response.destinationAddresses;
                var outputDiv = document.getElementById('output');
                outputDiv.innerHTML = '';
                deleteMarkers(markersArray);

                var showGeocodedAddressOnMap = function (asDestination) {
                    var icon = asDestination ? destinationIcon : originIcon;
                    return function (results, status) {
                        if (status === 'OK') {
                            map.fitBounds(bounds.extend(results[0].geometry.location));
                            markersArray.push(new google.maps.Marker({
                                map: map,
                                position: results[0].geometry.location,
                                icon: icon
                            }));
                        } else {
                            alert('Geocode was not successful due to: ' + status);
                        }
                    };
                };

                for (var i = 0; i < originList.length; i++) {
                    var results = response.rows[i].elements;
                    geocoder.geocode({ 'address': originList[i] },
                        showGeocodedAddressOnMap(false));
                    for (var j = 0; j < results.length; j++) {
                        geocoder.geocode({ 'address': destinationList[j] },
                            showGeocodedAddressOnMap(true));
                        outputDiv.innerHTML += originList[i] + ' to ' + destinationList[j] +
                            ': ' + results[j].distance.text + ' in ' +
                            results[j].duration.text + '<br>';
                    }
                }
            }
        });
    }
    function calculateAndDisplayRoute(origin, dest) {
        directionsService.route({
            origin: origin,
            destination: dest,
            travelMode: 'DRIVING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
    function deleteMarkers(markersArray) {
        for (var i = 0; i < markersArray.length; i++) {
            markersArray[i].setMap(null);
        }
        markersArray = [];
    }
</script>
{% endblock %}