{% extends 'base.html' %}
{% block content %}
<div class="d-flex row h-100 justify-content-center align-items-center">
    <div class="card" style="margin-top: 100px;">
        <article class="card-body" style="width: 400px;">
            <a href="/signup" class="float-right btn btn-outline-primary">Sign up</a>
            <h4 class="card-title mb-4 mt-1">Create Account</h4>
            <form>
                <div class="form-group">
                    <label>Your email</label>
                    <input name="" class="form-control" placeholder="Email" type="email">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <a class="float-right" href="#">Forgot?</a>
                    <label>Your password</label>
                    <input class="form-control" placeholder="******" type="password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <div class="checkbox">
                        <label> <input type="checkbox"> Save password </label>
                    </div> <!-- checkbox .// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login </button>
                </div> <!-- form-group// -->
            </form>
        </article>
    </div> <!-- card.// -->
</div>
{% endblock %}